.DS_Store
.TemporaryItems
*.log
*.py[co]
*.kpf
dsp/data/
dsp/settings_local.py
dsp/mediaroot/pdf_tmp
dsp/datadir/
dsp/mediaroot/akvopedia_pdf/
dsp/mediaroot/small/
dsp/mediaroot/techs_white/
dsp/mediaroot/technologies/

