{% load i18n  %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="{% trans 'Sanitation Decision Support Tool' %}" />
	<meta name="keywords" content="{% trans 'Sanitation,Decision Support Tool' %}" />
	<title>{% block title %}{% trans 'Sanitation Decision Support Tool' %}{% endblock title %}</title>
	
	<link rel="stylesheet" href="{{MEDIA_URL}}css/src/style.css" type="text/css" media="screen" title="main">
	<!--[if IE 6]>
	<link rel="stylesheet" href="{{MEDIA_URL}}css/ie6.css" type="text/css" media="screen, projection">
	<![endif]-->	
	<style type="text/css" media="screen">{% block inline_styles %}
	<!--
	    label:hover {
	        cursor:pointer;
	    }
	-->
	{% endblock inline_styles %}</style>
	
</head>
<body>
	<div id="maincontainer" class="container showgrid">
	{% block content %}
	
	{% endblock content %}
	</div>

{% comment %}
	
{% block grid %}

{% endblock grid %}

{% block help %}

{% endblock help %}
{% endcomment %}

{% block js %}
{% endblock js %}

</body>
</html>
