{% load i18n  %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="{% trans 'Water Decision Support Tool' %}" />
	<meta name="keywords" content="{% trans 'Water,Decision Support Tool' %}" />
	<title>{% block title %}{% trans 'WaterCompass' %}{% endblock title %}</title>
	<link rel="stylesheet" href="{{MEDIA_URL}}css/src/style.css" type="text/css" media="screen" title="main">
	<!--[if IE 6]>
	<link rel="stylesheet" href="{{MEDIA_URL}}css/ie6.css" type="text/css" media="screen, projection">
	<![endif]-->
	
	<link rel="stylesheet" href="{{MEDIA_URL}}fancybox/fancybox.css" type="text/css" media="screen" title="main">
	
	<style type="text/css" media="screen">
		
		{% block inline_styles %}
		body {
			background-color:#f4f4f4;
		}
		
		#maincontainer {
			background-color:#fff;
		}
		
		{% endblock inline_styles %}
		
	</style>
	
</head>
<body>
	{% block maincontainer %}
	<div id="maincontainer" class="container">
		<div class="span-11 append-1 first">
			<a href="http://www.watercompass.info">
				<img src="{{ MEDIA_URL }}img/logos/WaterCompass.png" width="300px" height="40px" alt="Akvo.org" style="margin-left:20px; margin-bottom:10px;"/>
			</a>
			{#<p class="small grey">Factor selection > Appropriate technologies > Build a system</p> #}
		</div>
		{% block content %}
	
		{% endblock content %}
		<div class="span-18" style="border-top:1px solid #ccc; padding-top:10px;">
			<div class="span-10 first">
				<div class="space10">
					<p class="small">
						Site under <a href="http://akvo.org/help/akvo-policies-and-terms-2/akvo-licensing-and-copyrights/">Open License</a> | 
						<a href="http://akvo.org/help/akvo-policies-and-terms-2/akvo-terms-of-use/">Terms of use</a>
					</p>
				</div>
			</div>	
			{% comment %}
			<p class="small grey" style="margin-right:10px; float:right;">
				<a id="grid_toggle">Toggle grid</a>
				
				{#<a id="grid_toggle">toggle grid</a>#}
			</p>
			<p class="small grey" style="margin-left:10px;">
				{% trans 'Funded by' %} <a href="#">Funder.org</a> <span style="color:#ccc;margin-left:3px;margin-right:3px">|</span>
 				{% trans 'Powered by' %} <a href="http://akvo.org">Akvo.org</a>
			</p>
			{% endcomment %}			
		</div>
	</div>
	{% endblock maincontainer %}
{% block js %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
	if (typeof jQuery == 'undefined') {
		document.write('<script type="text/javascript" src="{{MEDIA_URL}}js/1.4.2.min.js"><'); document.write('/script>');
	}
	var $ = jQ = jQuery.noConflict();
</script>
{% endblock js %}

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.watercompass.nl"]);
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.akvo.org/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "18"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->


<script type="text/javascript">
jQ(document).ready(function(){
	jQ('#grid_toggle').click(function () {
		jQ('#maincontainer').toggleClass('showgrid');
	});
	
	{% block jquery_ready %}{% endblock jquery_ready %}	
});
</script>

</body>
</html>
