{% extends "dst/base.html" %}
{% load i18n  %}
{% block content %}

<form name="factorform" method="post">
{{ formset.management_form }}    
<div class="span-18">
	<div class="push-1 span-16 append-1">
		<div class="frame" style="background-color:#EEF8FA">
			<div class="space15">
				<p>
		 			{% blocktrans %}The Sanitation Decision Support Tool helps you determine which sanitation technology or combination of technologies 
					is right for your specific circumstances. Select criteria for each factor below which apply;
					click on the factor or individual criteria to learn more.{% endblocktrans %}
				</p>
			</div>
		</div>
	</div>
	
	<div class="push-1 span-16 append-1 first last">
		<p style="text-align:center;">
			<a class="red awesome" style="margin-right:10px; float:left;"
				href="{% url reset_all %}">{% trans 'Reset' %}</a>
			<a class="aqua awesome" href="javascript:document.factorform.submit();" 
				onclick="this.blur();" style="margin-left:10px; float:right;">{% trans 'Continue &rarr;' %}</a>
		</p>
	</div>
	
	<hr />
	<div class="push-1 span-9 first">
        {% for form, factor, change in zipped_formlist %}
            {% if change %}
                {% if not forloop.first %}
                </ul>
                {% endif %}
                <h2><a href="{% url factor_help 'factor' factor.id %}" class="fancy">{{factor.factor|capfirst}}</a></h2>
                <ul style="list-style-type:none;">
            {% endif %}

			<li>
                {{form.id}}{{form.criterion}}{{form.applicable}}
                <a class="small fancy" href="{% url factor_help 'criterion' form.instance.criterion.id %}" target="_blank">{{form.instance.criterion|capfirst}}</a>
            </li>
        {% endfor %}
        </ul>
	</div>
    
	<div class="push-1 span-7 last">
		<div class="space20" style="text-align:center;">
			<h4>{% trans 'Realised by' %}:</h4>
			<a href="http://akvo.org">
				<img src="{{MEDIA_URL}}img/logos/logo_akvo.png" alt="Akvo" />
			</a><br><br>
			<a href="http://www.waste.nl/">
				<img src="{{MEDIA_URL}}img/logos/logo_waste.jpg" alt="Waste" />
			</a>
			<br><br><br>
			<h4>{% trans 'As a part of the ROSA project' %}:</h4>
			<a href="http://rosa.boku.ac.at/">
				<img src="{{MEDIA_URL}}img/logos/logo_rosa.png" width="150" height="90" alt="Rosa" />
			</a>
			<br><br><br>
			<h4>{% trans 'Financial support by' %}:</h4>
			<a href="http://ec.europa.eu/research/fp6/">
				<img src="{{MEDIA_URL}}img/logos/logo_fp6.png" alt="EU 6th Freamework programme" />
			</a><br><br>
			<a href="http://www.minbuza.nl/">
				<img src="{{MEDIA_URL}}img/logos/logo_rijksoverheid.gif" alt="Rijksoverheid" />
			</a>
		</div>
		{% comment %}
		<h2>Help</h2>
		- <a href="{% url help %}" class="fancy">Why use the tool?</a><br><br />
		- <a href="{% url demo %}" class="fancy">Demonstration</a>
		{% endcomment %}
	</div>

	{% if help_item %}
	    <h3>Item info</h3>
	    <p style="font-weight:bold">{{help_item.info_heading}}</p>
	    <p>{{help_item.info_text}}</p>
	{% endif %}

</div>
</form>
<div class="push-1 span-16 append-1 first last">
	<p style="text-align:center;">
		<a class="red awesome" style="margin-right:10px; float:left;"
			href="{% url reset_all %}">{% trans 'Reset' %}</a>
		<a class="aqua awesome" href="javascript:document.factorform.submit();" 
			onclick="this.blur();" style="margin-left:10px; float:right;">{% trans 'Continue &rarr;' %}</a>
	</p>
</div>
{% endblock content %}
{% block js %}
{{block.super}}
<script type="text/javascript" src="{{MEDIA_URL}}fancybox/fancybox.js"></script>
{% endblock js %}

{% block jquery_ready %}
{{block.super}}
jQ("a.fancy").fancybox();
{% endblock jquery_ready %}	


