{% extends "dst/base.html" %}

{% block content %}
<div class="push-1 span-17 first last">
	<h2>Decision Support Tools (at Akvopedia)</h2>
</div>
<div class="push-1 span-8 first">
	<div class="frame" style="background-color:#EEF8FA">
		<div class="space15">
			<p>
				The <a href="{% url technologies %}">Sanitation Decision Support Tool</a> helps you explore which sanitation technology or combination of technologies is right for you. The tool helps to narrow down options based on the answers of questions on your situation you provide.
			</p>
		</div>
	</div>
</div>
<div class="span-8 push-1 last">
	&nbsp;
</div>


<div class="push-1 span-8 first">
	<div class="frame" style="background-color:#EEF8FA">
		<div class="space15">
			<p>
				The <a href="{% url factors %}">Water Purification Decision Support Tool</a> helps you navigate the many options that exist for water purification.
			</p>
		</div>
	</div>
</div>
<div class="span-8 push-1 last">
	&nbsp;
</div>


{% endblock content %}