{% extends "dst/base.html" %}
{% load i18n  %}

{% block content %}

<div class="push-1 span-12 append-5 first last">
	<h2>Solution</h2>
</div>


<div class="span-18 first last" style="margin-bottom:0">
    {% for techgroup, techs in all_techs %}
        <div class="span-3 {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}" style="text-align:center;">
			<div style="border-bottom:1px solid #F4F4F4; margin-bottom:40px; ">
            	<p style="font-weight:bold;display:block;height:40px;">{{ techgroup|capfirst }}</p>				
			</div>

        {% for tech in techs %}
            <div class="tech">
                <div class="back_{{tech.usable}}">
					<p class="small" style="margin-top:5px; display:block; height:35px; overflow:hidden; margin-bottom:5px;" <a class="fancy" href="{% url technologies_help tech.id %}" alt="{{tech.usable}}">{{ tech|capfirst }}</a></p>
					<a class="fancy" href="{% url technologies_help tech.id %}">
                    	<div class="back_{{tech.usable}}_img" style="margin-bottom:15px;">
							<img src="{{ MEDIA_URL}}{{ tech.image }}" />
                    	</div>
					</a>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}

</div>


<div class="push-1 span-16 append-1 first last">
	<p>
		<a class="grey awesome" style="margin-right:10px;" href="{% url factors %}">{% trans 'Restart' %}</a>
	</p>
</div>
<p>
	Read more about the <a href="http://www.akvo.org/wiki/index.php/Sanitation_Decision_Support_Tool">Sanitation Decision Support Tool</a> on the <a href="http://akvo.org/wiki">Akvopedia</a>.
</p>


{% endblock content %}

{% block js %}
{{block.super}}
<script type="text/javascript" src="{{MEDIA_URL}}fancybox/fancybox.js"></script>
{% endblock js %}
{% block jquery_ready %}
{{block.super}}
jQ("a.fancy").fancybox();
{% endblock jquery_ready %}