{% extends "dst/base.html" %}
{% load i18n  %}

{% block maincontainer %}
<div style="width:600px; height:400px;">
	<h2> {{ technology }}</h2>

	{{ technology.description }}

	{% if relevancy_objects %}
		{% for object in relevancy_objects  %}
			<h4>{{ object }}</h4>
			<p>
				Factor: {{ object }}<br />
				Answer: {{ object.answer }}<br />
				Applicability: {{ object.applicability }}<br />
				{% if object.note %}
				Note: {{ object.note }}<br />	
				{% endif %}
			</p>
		{% endfor %}
	{% else %}
		<p>{% trans 'There were no Appropriate answers to the' %} {{ technology }}.</p>
	{% endif %}
	<br><br>
	<b>Session:</b><br>
	{% for item in items  %}
		{{item.session_key}}<br>
	{% endfor %}
	<br><br>
</div>
{% endblock maincontainer %}

