{% extends "dst/base.html" %}
{% load i18n akvo_filters %}

{% block inline_styles %}
{{block.super}}

{% if session.yes_ishidden %}
.tech_yes { display:none;}
{% endif %}
{% if session.maybe_ishidden %}
.tech_maybe { display:none;}
{% endif %}
{% if session.no_ishidden %}
.tech_no { display:none;}
{% endif %}
{% if session.hide_ishidden %}
.tech_hide { display:none;}
{% endif %}

{% if session.tech_help_ishidden %}
#page_intro_text { display:none;}
{% endif %}

{% endblock inline_styles %}

{% block content %}


<div style="clear:both;"></div>
				<div class="span-2" style="margin-left:20px;margin-bottom:10px;">
				<p class="small" style="margin-top:5px;margin-bottom:10"> <a class="blue_w awesome" style="margin-right:10px; float:left;"
				href="{% url technologies %}">{% trans '&larr; back ' %}</a>
				</p>
</div>

<div class="span-18">
	
<!-- start of main column -->
    <div class="span-16 last">
	
	<!-- start selected technologies -->
	<div class="span-18 first last" style="margin-bottom:10px; background:#ddd;">
	   <p style="font-weight:bold;display:block;color:#888;margin-top:5px;margin-left:20px;margin-bottom:5px;">Selected technologies</p>
	
	<div class="span-18 first last" style="margin-bottom:0; margin-left:20px;">
	    {% for techgroup,chosen_in_group in all_chosen_techs %}
		<div class="span-2a {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}" style="text-align:center;">	
		    <div class="techs_selected">
			{% ifnotequal chosen_in_group ''%}
			<div style="background:#fff;">
			       <div>	
				    <a class="fancy" href="{% url technologies_help chosen_in_group.id %}" title="{{chosen_in_group}}">
				    <div style="margin-bottom:5px;">
						<img src="{{ MEDIA_URL}}technologies/{{ chosen_in_group.image }}""/>		
				    </div>
				    </a>
				    <p class="small" style="margin-top:5px; display:block; height:70px; overflow:hidden; margin-bottom:5px;">
				        <a class="fancy" href="{% url technologies_help chosen_in_group.id %}" title="{{chosen_in_group.id}}">{{ chosen_in_group|capfirst|smart_truncate:50 }}</a>
				    </p>	                    
				</div>
			    </div>
			{% endifnotequal %}
		    </div>
		
		</div>
		  {% if not forloop.last %}
		    <div style="margin-top:70px;margin-left:0px;width:27px;float:left;">
			<img src="{{ MEDIA_URL}}img/extra/arrow.gif"> 
		    </div>
		    {% endif %}
	    {% endfor %}
	</div>
    </div>	
	<!-- end selected technologies -->	
</div>	
	
<div class="clear"></div>
<form name="PDf_preference" method="post">

<div class="span-18" style="margin-top:30px;">
    <div class="span-5 append-2 first" style="margin-left:20px;">
	<p style="font-weight:bold;display:block;color:#555;margin-bottom:5px;"> Making a PDF</p>
	<p style="display:block;color:#555;margin-bottom:5px;">You can make a PDF document of these technologies by clicking 'Create PDF' on the right. <br/><br/>

Please indicate your preferences and press "Download PDF"</p>
	
 {%ifnotequal pdf_file ''%}
     <p style="font-weight:bold;display:block;color:#555;margin-bottom:5px;"> Downloading your PDF</p>
    <p>Your PDF is ready. Please click on the button below to download it.</p>
    <a href="{{pdf_file}}" ><img src="{{ MEDIA_URL}}img/extra/pdf-icon-download.png"></a>
	
{% endifnotequal %}	    
    </div>
    <div class="span-10 last">
	<p style="font-weight:bold;display:block;color:#555;margin-bottom:15px;"> Include this in my PDF:</p>
	<div style="width:600px;">
	    
	    <div style="width:100px;float:left;text-align:right;"><p style="display:block;color:#555;margin-bottom:5px;margin-top:5px;">Include:</p>
	    </div>
	    <div style="width:440px;margin-bottom:20px;padding:0 0 0 10px;float:left;margin-left:30px;border-left-width:1px;border-style:solid;border-color:#888;">
		    <p class="large_choices" style="color:#2B80AF;">{{form.incl_selected}} A list of the selected options and technologies</p>
		    <p class="large_choices" style="color:#2B80AF">{{form.incl_short_expl}} A short explanation of each technology</p>		
	    </div>
	  
	    <div style="width:100px;float:left;text-align:right;"><p style="display:block;color:#555;margin-bottom:5px;">&nbsp;</p>
	    </div>
	    
	    <div style="width:420px;margin-bottom:20px;padding:0 0 0 10px;float:left;margin-left:30px;">
		<a  style="margin-right:10px;" href="javascript:document.PDf_preference.submit();" 
				onclick="this.blur();" style="float:left;"><img src="{{ MEDIA_URL}}img/extra/pdf-icon.png"></a>
	    
	   </div>
	    
	   
	     
	</div>
    </div>
</div>    
</form>

{% endblock content %}

{% block js %}
{{block.super}}
<script type="text/javascript" src="{{MEDIA_URL}}fancybox/fancybox.js"></script>
{% endblock js %}


{% block jquery_ready %}
{{block.super}}




jQ("a.fancy").fancybox();
{% endblock jquery_ready %}	
