{% extends "dst/base.html" %}
{% load i18n  %}
{% block inline_styles %}
{{ block.super }}

.back_ok, #toggle_ok {
	background-color:#DCEDD0;
}
.back_maybe, #toggle_maybe {
	background-color:#FBF9CF;
}
.back_no, #toggle_no {
	background-color:#F6C8AB;
}

#toggles > a {
	padding:5px 10px;
	margin: 10px;
}

{% endblock inline_styles %}

{% block content %}
<div class="push-1 span-16 append-1 first last">
	<div class="frame" style="background-color:#EEF8FA">
		<div class="space15">
			<p class="small">
				Based on the information you have provided in Step 1, the table below indicates which technologies are appropriate for your situation. Red means not appropriate, Yellow means maybe appropriate, and green means appropriate. If you click on the icon of one of the options, you will see an explanation why the technology is appropriate or not. If you click on the name of the technology, a new window will open with the Akvopedia article on that technology.<br>
				<br>
				In this screen, you can explore the differerent technologies, and change the answers to the 9 questions by going back to the step 1. In the next step, only the green and yellow technologies are displayed, and you can start to build a system from these.
			</p>
		</div>
	</div>
</div>
<div style="text-align:center;">
	<p id="toggles">
		<a id="toggle_ok">Hide appropriate</a> 
		<a id="toggle_maybe">Hide maybe</a> 
		<a id="toggle_no" >Hide not appropriate</a>
	</p>
</div>
<hr >

<div class="push-1 span-15 append-2 first last" style="margin-bottom:0">
{% for techgroup in techgroups %}
	<div class="span-3 {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}"
	style="background-color:#{% cycle 'f0f2f3' 'fff' %}; text-align:center;">
		<p style="font-weight:bold;display:block;height:50px;">{{ techgroup }}</p>
		{% ifequal techgroup.id 1 %}
			{% for tech in conveyance_technologies %}
			<div class="tech">
				<div class="{% cycle 'ok' 'maybe' 'no' %}">
					<div class="back_{% cycle 'ok' 'maybe' 'no' %}">
						<img src="{{ MEDIA_URL}}technologies/{{ tech.image }}" width="100px" height="100px" /><br />
					</div>
					<p style="margin-top:5px;"><a href="#">{{ tech }}</a></p>
				</div>
			</div>
			{% endfor %}
		{% endifequal %}
		{% ifequal techgroup.id 2 %}
			{% for tech in collection_technologies %}
			<div class="tech">
				<div class="{% cycle 'ok' 'maybe' 'no' %}">
					<div class="back_{% cycle 'ok' 'maybe' 'no' %}">
						<img src="{{ MEDIA_URL}}technologies/{{ tech.image }}" width="100px" height="100px" /><br />
					</div>
					<p style="margin-top:5px;"><a href="#">{{ tech }}</a></p>
				</div>
			</div>
			{% endfor %}
		{% endifequal %}
		{% ifequal techgroup.id 3 %}
			{% for tech in user_interface_technologies %}
			<div class="tech">
				<div class="{% cycle 'maybe' 'ok' 'no' %}">
					<div class="back_{% cycle 'maybe' 'ok' 'no' %}">
						<img src="{{ MEDIA_URL}}technologies/{{ tech.image }}" width="100px" height="100px" /><br />
					</div>
					<p style="margin-top:5px;"><a href="#">{{ tech }}</a></p>
				</div>
			</div>
			{% endfor %}
		{% endifequal %}
		{% ifequal techgroup.id 4 %}
			{% for tech in centralized_technologies %}
			<div class="tech">
				<div class="{% cycle 'no' 'ok' 'maybe' %}">
					<div class="back_{% cycle 'no' 'ok' 'maybe' %}">
						<img src="{{ MEDIA_URL}}technologies/{{ tech.image }}" width="100px" height="100px" /><br />
					</div>
					<p style="margin-top:5px;"><a href="#">{{ tech }}</a></p>
				</div>
			</div>
			{% endfor %}
		{% endifequal %}
		{% ifequal techgroup.id 5 %}
			{% for tech in disposal_technologies %}
			<div class="tech">
				<div class="{% cycle 'ok' 'maybe' 'no' %}">
					<div class="back_{% cycle 'ok' 'maybe' 'no' %}">
						<img src="{{ MEDIA_URL}}technologies/{{ tech.image }}" width="100px" height="100px" /><br />
					</div>
					<p style="margin-top:5px;"><a href="#">{{ tech }}</a></p>
				</div>
			</div>
			{% endfor %}
		{% endifequal %}
	</div>
{% endfor %}
</div>
<div class="clear"></div>
<hr style="margin-top:20px" />

<div class="push-1 span-16 append-1 first last">
	<p style="text-align:center;">
		<a class="grey awesome" style="margin-right:10px;"
			href="{% url factors %}">{% trans '&larr; Back' %}</a>
		<a class="aqua awesome" href="{% url solution %}" 
			onclick="this.blur();" style="margin-left:10px;">{% trans 'Continue &rarr;' %}</a>
	</p>
</div>

{% endblock content %}

{% block jquery_ready %}

jQ('#toggle_ok').click(function () {
	jQ(this).html( (jQ('.ok').is(":visible") ? 'Show' : 'Hide') + ' appropriate' );
	jQ('.ok').toggle();
});

jQ('#toggle_maybe').click(function () {
	jQ(this).html( (jQ('.maybe').is(":visible") ? 'Show' : 'Hide') + ' maybe' );
	jQ('.maybe').toggle();
});

jQ('#toggle_no').click(function () {
	jQ(this).html( (jQ('.no').is(":visible") ? 'Show' : 'Hide') + ' not appropriate');
	jQ('.no').toggle();
});

{% endblock jquery_ready %}	