{% extends "dst/base.html" %}
{% load i18n akvo_filters %}

{% block inline_styles %}
{{block.super}}

{% if session.yes_ishidden %}
.tech_yes { display:none;}
{% endif %}
{% if session.maybe_ishidden %}
.tech_maybe { display:none;}
{% endif %}
{% if session.no_ishidden %}
.tech_no { display:none;}
{% endif %}
{% if session.hide_ishidden %}
.tech_hide { display:none;}
{% endif %}

{% if session.tech_help_ishidden %}
#page_intro_text { display:none;}
{% endif %}

{% endblock inline_styles %}

{% block content %}

<div class="span-6 last">
<p class="small" style="margin-top:15px;margin-bottom:0"> Continue with selected technologies <a class="blue_w awesome" style="margin-right:10px; float:right;"
				href="{% url techs_selected %}">{% trans 'continue &rarr;' %}</a>
</p>
</div>
<!-- form stuff begin -->

<form name="factorform" method="post">
{{ formset.management_form }}    

<div class="span-18">
	<div class="span-4 first">
	    <div style="padding:0 10px 0 20px;">
		<p class="small"> Use the options below to describe your situation. Click on the items for more help. </p>
		<p style="text-align:center;">
			<a class="blue_w awesome" style="margin-right:10px; margin-bottom:5px; float:left;"
				href="{% url reset_all %}">{% trans 'Reset options' %}</a>
		</p>
	    </div>
	<!-- create left sidebar with questions -->
	    <div style="padding:0 10px 0 20px;">
		{% for form, factor, change in zipped_formlist %}
		{% if change %}
		    {% if not forloop.first %}
		    </ul>
                {% endif %}
		    <hr style="margin-bottom:0.5em;"/>
		    <h5><a href="{% url factor_help 'factor' factor.id %}" class="fancy">{{factor.factor|capfirst}}</a></h5>
		    <ul style="list-style-type:none;">
		{% endif %}

		    <li>
		   {{form.id}}{{form.criterion}}{{form.applicable}}
		    <a class="small_choices fancy" href="{% url factor_help 'criterion' form.instance.criterion.id %}" target="_blank">{{form.instance.criterion|capfirst}}</a>
		</li>
		{% endfor %}
		<hr />
		</ul>
	    </div>
	</div>

<!--	{% if help_item %}
	    <h3>Item info</h3>
	    <p style="font-weight:bold">{{help_item.info_heading}}</p>
	    <p>{{help_item.info_text}}</p>
	{% endif %} -->

<!--  </div>
</form> -->

<!-- end of form stuff-->
<!-- start of main column -->
    <div class="span-14 last">
	
	<!-- start selected technologies -->
	<div class="span-14 last" style="margin-bottom:10px; background:#ddd;">
	   <p style="font-weight:bold;display:block;color:#888;margin-top:5px;margin-left:5px;margin-bottom:5px;">Sanitation system with selected technologies</p>
	
	<div class="span-14 last" style="margin-bottom:0; background:#ddd;">
	    {% for techgroup, techs in all_techs %}
		<div class="span-2b {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}" style="text-align:center;">	
		    <div class="tech_top" style="background-image: url('{{ MEDIA_URL}}img/extra/please_select.gif'); background-repeat: no-repeat; background-position: 50% 50%; ">
		    {% for tech in techs %}
			{% ifequal tech.usable 'chosen'%}
			<div style="background:#fff;">
			       <div>	
				    <a class="fancy" href="{% url technologies_help tech.id %}" title="{{tech}}">
				    <div style="margin-bottom:5px;">
						<img src="{{ MEDIA_URL}}small/{{ tech.image }}""/>		
				    </div>
				    </a>
				    <p class="tiny" style="margin-top:5px; display:block; height:35px; overflow:hidden; margin-bottom:5px;">
				        <a class="fancy" href="{% url technologies_help tech.id %}" title="{{tech.id}}">{{ tech|capfirst|smart_truncate:25 }}</a>
				    </p>	                    
				</div>
			    </div>
			       <div style="margin-top:0px;">
				    <a class="small" style="color:#666;" href="{% url tech_choice tech.id %}"> <img src="{{ MEDIA_URL}}img/extra/minus.gif">   {% trans 'remove' %}</a>
			       </div>
			{% endifequal %}
		    {% endfor %}
		    </div>
		</div>
		  {% if not forloop.last %}
		    <div style="margin-top:30px;margin-left:12px;float:left;">
			<img src="{{ MEDIA_URL}}img/extra/arrow.gif"> 
		    </div>
		    {% endif %}
	    {% endfor %}
	</div>
    </div>	
	<!-- end selected technologies -->	
	
	
<!-- start buttons -->
	<div class="span-14 last" style="margin-bottom:5px; height:25px; background:#fff;">
	    
	    <a class="blue_w awesome" href="javascript:document.factorform.submit();" 
				onclick="this.blur();" style="float:left;">{% trans 'Apply options &rarr;' %}</a>

	    <a id="toggle_maybe" class="maybe awesome" style="margin-right:5px;margin-left:5px;float:right">
			{% if session.maybe_ishidden %}{% trans 'Show' %}{% else %}{% trans 'Hide' %}{% endif %} {% trans 'maybe' %}
		</a>
	    <a id="toggle_no" class="no awesome" style="margin-right:5px;margin-left:5px;float:right">
			{% if session.no_ishidden %}{% trans 'Show' %}{% else %}{% trans 'Hide' %}{% endif %} {% trans 'unsuitable' %}
		</a>
	     <a id="toggle_hide" class="hide awesome" style="margin-right:5px;margin-left:5px;float:right;">
			{% if session.hide_ishidden %}{% trans 'Show' %}{% else %}{% trans 'Hide' %}{% endif %} {% trans 'excluded' %}
		</a>
	</div>
	<!-- start technology grid-->
	<div class="span-14 last" style="margin-bottom:0; background:#ddd;">
	    {% for techgroup, techs in all_techs %}
	    <div class="span-2a  {% if forloop.first %}first{% endif %} {% if not forloop.last %}withborder{% endif %} {% if forloop.last %}last{% endif %}" style="text-align:center;">
		    	<div style="margin-bottom:30px; ">
			<p style="font-weight:bold;display:block;height:45px;margin-top:5px; color:#222">{{ techgroup|capfirst}}</p>				
		    	</div>
		{% for tech in techs %}
		<div class="tech tech_{{tech.usable}}">
		    <div class="back_{{tech.usable}}">	
					<a class="fancy" href="{% url technologies_help tech.id %}" title="{{tech}}">
		        <div class="back_{{tech.usable}}_img" style="margin-bottom:5px;">
						<img src="{{ MEDIA_URL}}{{ tech.image }}" />		
		        </div>
		    			</a>
		    			<p class="small" style="margin-top:5px; display:block; height:35px; overflow:hidden; margin-bottom:5px;">
		    			<a class="fancy" href="{% url technologies_help tech.id %}" title="{{tech.id}}">{{ tech|capfirst|smart_truncate:25 }}</a>
		    			</p>
		    			
		    			
		    			{% ifequal tech.usable 'chosen'  %}
		    				<a class="white awesome small" href="{% url tech_choice tech.id %}">{% trans 'Deselect' %}</a>
		    			{% else %}
		    				{% ifnotequal tech.usable 'no' %}
		    					{% ifnotequal tech.usable 'hide' %}
		    						<a class="white awesome small" href="{% url tech_choice tech.id %}">{% trans 'Select' %}</a>
		    					{% endifnotequal %}
		    				{% endifnotequal %}
		    			{% endifequal %}
		    			                    
		        </div>
		    </div>
	      {% endfor %}
	 </div>
	    {% endfor %}

	</div>
    </div>

</div>
</form>
<!-- einde form + tech blok -->

<div class="clear"></div>
<hr style="margin-top:20px" />


<div id="page_intro" class="push-1 span-16 append-1 first last">
	<div class="frame" style="background-color:#EEF8FA">
		<div class="space15">
			<p id="page_intro_text">
			  {% blocktrans %}The table below shows technologies, grouped by type in columns. Based on the factors you selected, the technologies have 
			  been shaded to indicate suitability as solutions: green for good solutions, yellow for less suitable and red for not suitable.
			  Select a technology's icon to see an explanation of why the technology is or is not appropriate; select the technology name to get more
			  information about it from the Akvopedia.{% endblocktrans %}
				<br>
				<br>
			{% blocktrans %}Begin building your sanitation solution by selecting technologies for each column. As you build your system, some technologies
			may be excluded by your choices, and will appear greyed out. At any time you can return to the factors page and change your answers or start over.
			{% endblocktrans %}
			</p>
			<a class="small" id="toggle_page_intro">{% if session.tech_help_ishidden %}{% trans 'Show help' %}{%else%}{% trans 'Hide help' %}{% endif %}</a>
		</div>
	</div>
</div>	


<div class="span-18">
	<div class="push-1 span-3 first">
		<a class="aqua awesome" style="margin-right:10px; float:left;" href="{% url factors %}">{% trans '&larr; Back' %}</a>	
	</div>
	<div class="span-10" style="text-align:center;">
		&nbsp;
	</div>
	<div class="span-3 append-1 last">
		<a class="aqua awesome" href="{% url solution %}" onclick="this.blur();" style="margin-left:10px; float:right;">{% trans 'Continue &rarr;' %}</a>
	</div>
</div>

{% endblock content %}

{% block js %}
{{block.super}}
<script type="text/javascript" src="{{MEDIA_URL}}fancybox/fancybox.js"></script>
{% endblock js %}


{% block jquery_ready %}
{{block.super}}


jQ('#toggle_yes').click(function () {
	if (jQ('.tech_yes').is(":visible")){
		jQ(this).html('Show applicable');
		jQ('.tech_yes').fadeOut("slow");
	} else {
		jQ(this).html('Hide applicable');
		jQ('.tech_yes').fadeIn("slow");
	}
	jQ.post('{% url toggle_button 'yes_ishidden' %}');	
});

jQ('#toggle_maybe').click(function () {
	if (jQ('.back_maybe').is(":visible")){
		jQ(this).html('Show maybe');
		jQ('.tech_maybe').fadeOut("slow");
	} else {
		jQ(this).html('Hide maybe');
		jQ('.tech_maybe').fadeIn("slow");
	}
	jQ.post('{% url toggle_button 'maybe_ishidden' %}');
});

jQ('#toggle_no').click(function () {
	if (jQ('.back_no').is(":visible")) {
		jQ(this).html('Show unsuitable');
		jQ('.tech_no').fadeOut("slow");
	}
	else {
		jQ(this).html( 'Hide unsuitable' )
		jQ('.tech_no').fadeIn("slow");
	}
	jQ.post('{% url toggle_button 'no_ishidden' %}');
});

jQ('#toggle_na').click(function () {
	if (jQ('.back_na').is(":visible")) {
		jQ(this).html('Show applicable');
		jQ('.tech_na').fadeOut("slow");
	}
	else {
		jQ(this).html( 'Hide applicable' )
		jQ('.tech_na').fadeIn("slow");
	}
	jQ.post('{% url toggle_button 'na_ishidden' %}');
});

jQ('#toggle_hide').click(function () {
	if (jQ('.back_hide').is(":visible")) {
		jQ(this).html('Show excluded');
		jQ('.tech_hide').fadeOut("slow");
	}
	else {
		jQ(this).html( 'Hide excluded' )
		jQ('.tech_hide').fadeIn("slow");
	}
	jQ.post('{% url toggle_button 'hide_ishidden' %}');
});


jQ('#toggle_page_intro').click(function() {
	if ( jQ('#page_intro_text').is(":visible") ) {
		jQ('#page_intro_text').slideUp("slow");
		jQ('#toggle_page_intro').html('Show help');
	}
	else {
		jQ('#page_intro_text').slideDown("slow");
		jQ('#toggle_page_intro').html('Hide help');
	}
	jQ.post('{% url toggle_button 'tech_help_ishidden' %}');
});


jQ("a.fancy").fancybox();
{% endblock jquery_ready %}	
