{% extends "dst/base.html" %}
{% load i18n akvo_filters %}

{% block content %}
{% comment %}
<div class="span-18" style="margin-bottom:30px;">
<a class="small" id="toggle_page_intro" style="margin-left:60px;">Hide help</a>	
</div>
{% endcomment %}

<div id="page_intro" class="push-1 span-16 append-1 first last">
	<div class="frame" style="background-color:#EEF8FA">
		<div class="space15">
			<p class="small" id="page_intro_text">
				{% blocktrans %}Based on the information you have provided in Step 1, the table below indicates which technologies are appropriate for your situation. Red means not appropriate, Yellow means maybe appropriate, and green means appropriate. If you click on the icon of one of the options, you will see an explanation why the technology is appropriate or not. If you click on the name of the technology, a new window will open with the Akvopedia article on that technology.{% endblocktrans %}
				<br>
				<br>
				{% trans 'In this screen, you can explore the differerent technologies, and change the answers to the 9 questions by going back to the step 1. In the next step, only the green and yellow technologies are displayed, and you can start to build a system from these.' %}
			</p>
			<a class="small" id="toggle_page_intro">{% trans 'Hide help' %}</a>
		</div>
	</div>
</div>
	
<div class="span-18">
	<div class="push-1 span-3 first">
		<a class="aqua awesome" style="margin-right:10px; float:left;" href="{% url factors %}">{% trans '&larr; Back' %}</a>	
	</div>
	<div class="span-10" style="text-align:center;">
		{#<a class="grey awesome" style="margin-right:5px;margin-left:5px;" href="{% url reset_techs %}">{% trans 'Deselct all' %}</a>#}
		<a id="toggle_yes" class="ok awesome" style="margin-right:5px;margin-left:5px;">{% trans 'Hide applicable' %}</a>
		<a id="toggle_maybe" class="maybe awesome" style="margin-right:5px;margin-left:5px;">{% trans 'Hide maybe' %}</a>
		<a id="toggle_no" class="no awesome" style="margin-right:5px;margin-left:5px;">{% trans 'Hide unsuitable' %}</a>
		<a id="toggle_hide" class="hide awesome" style="margin-right:5px;margin-left:5px;">{% trans 'Hide not usable' %}</a>
	</div>
	<div class="span-3 append-1 last">
		<a class="aqua awesome" href="{% url solution %}" onclick="this.blur();" style="margin-left:10px; float:right;">{% trans 'Continue &rarr;' %}</a>
	</div>
</div>
<hr />
{% comment %}
<div class="push-1 span-16 append-1 first last">
	<p style="text-align:center;">
		<a class="red awesome" style="margin-right:10px; float:left;"
			href="{% url reset_all %}">{% trans 'Reset' %}</a>
		<a class="aqua awesome" style="margin-right:10px; float:left;" href="{% url factors %}">{% trans '&larr; Back' %}</a>	
		<a class="aqua awesome" href="{% url solution %}" onclick="this.blur();" style="margin-left:10px; float:right;">{% trans 'Continue &rarr;' %}</a>
	</p>
</div>
<hr style="margin-top:20px" />

<div style="text-align:center;">
	<p class="small" id="toggles">
		<a id="toggle_yes">Hide appropriate</a> 
		<a id="toggle_maybe">Hide maybe</a>
		<a id="toggle_no" >Hide not appropriate</a>
		<!--<a id="toggle_na" >Hide not affected</a>-->
	</p>
</div>
<hr />
{% endcomment %}

<div class="span-18 first last" style="margin-bottom:0;">
    {% for techgroup, techs in all_techs %}
        <div class="span-3 {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}" style="text-align:center;">
			<div style="border-bottom:1px solid #F4F4F4; margin-bottom:40px; ">
            	<p style="font-weight:bold;display:block;height:40px; color:#888">{{ techgroup|capfirst}}</p>				
			</div>
        {% for tech in techs %}
            <div class="tech tech_{{tech.usable}}">
                <div class="back_{{tech.usable}}">
					<p class="small" style="margin-top:5px; display:block; height:35px; overflow:hidden; margin-bottom:5px;">
						<a class="fancy" href="{% url technologies_help tech.id %}" title="{{tech}}">{{ tech|capfirst|smart_truncate:25 }}</a>
					</p>
					<a class="fancy" href="{% url technologies_help tech.id %}" title="{{tech}}">
                    <div class="back_{{tech.usable}}_img" style="margin-bottom:15px;">
						<img src="{{ MEDIA_URL}}{{ tech.image }}" />
                    </div>
					</a>
					{% ifequal tech.usable 'chosen'  %}
						<a class="aqua awesome small" href="{% url tech_choice tech.id %}">{% trans 'Deselect' %}</a>
					{% else %}
						{% ifnotequal tech.usable 'no' %}
							{% ifnotequal tech.usable 'hide' %}
								<a class="aqua awesome small" href="{% url tech_choice tech.id %}">{% trans 'Select' %}</a>
							{% endifnotequal %}
						{% endifnotequal %}
					{% endifequal %}
					
                    
					{% comment %}
					<a class="grey awesome small" href="#">{% trans 'Select' %}</a>						
					{% endcomment %}
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}

</div>


<div class="clear"></div>
<hr style="margin-top:20px" />

<div class="span-18">
	<div class="push-1 span-3 first">
		<a class="aqua awesome" style="margin-right:10px; float:left;" href="{% url factors %}">{% trans '&larr; Back' %}</a>	
	</div>
	<div class="span-10" style="text-align:center;">
		&nbsp;
		{% comment %}
		<a class="grey awesome" style="margin-right:5px;margin-left:5px;" href="{% url reset_techs %}">{% trans 'Deselct all' %}</a>
		<a class="green awesome" style="margin-right:5px;margin-left:5px;" href="{% url reset_techs %}">{% trans 'Hide appropriate' %}</a>
		<a class="yellow awesome" style="margin-right:5px;margin-left:5px;" href="{% url reset_techs %}">{% trans 'Hide maybe' %}</a>
		<a class="red awesome" style="margin-right:5px;margin-left:5px;" href="{% url reset_techs %}">{% trans 'Hide not appropriate' %}</a>
		{% endcomment %}
	</div>
	<div class="span-3 append-1 last">
		<a class="aqua awesome" href="{% url solution %}" onclick="this.blur();" style="margin-left:10px; float:right;">{% trans 'Continue &rarr;' %}</a>
	</div>
</div>
{% comment %}

<div class="push-1 span-16 append-1 first last">
	<p style="text-align:center;">
		<a class="green awesome" style="margin-right:10px; float:left;"
			href="{% url reset_techs %}">{% trans 'Deselct all technologies' %}</a>
		<a class="grey awesome" style="margin-right:10px; float:left;" href="{% url factors %}">{% trans '&larr; Back' %}</a>
		<a class="aqua awesome" href="{% url solution %}" onclick="this.blur();" style="margin-left:10px; float:right;">{% trans 'Continue &rarr;' %}</a>
	</p>
</div>
{% endcomment %}

{% endblock content %}

{% block js %}
{{block.super}}
<script type="text/javascript" src="{{MEDIA_URL}}fancybox/fancybox.js"></script>
{% endblock js %}


{% block jquery_ready %}
{{block.super}}

// jQ('.back_hide_img').fadeTo("slow", 0.3);
// jQ('.hide_select').attr ('href', '#').click(function() { return false; }).fadeTo("slow", 0.3);


jQ('#toggle_yes').click(function () {
	jQ(this).html( (jQ('.back_yes').is(":visible") ? 'Show' : 'Hide') + ' applicable');
	jQ('.back_yes').is(":visible") ? jQ('.back_yes').fadeOut("slow") : jQ('.back_yes').fadeIn("slow");
	jQ('.tech_yes').is(":visible") ? jQ('.tech_yes').fadeOut("slow") : jQ('.tech_yes').fadeIn("slow");
});

jQ('#toggle_maybe').click(function () {
	jQ(this).html( (jQ('.back_maybe').is(":visible") ? 'Show' : 'Hide') + ' maybe');
	jQ('.back_maybe').is(":visible") ? jQ('.back_maybe').fadeOut("slow") : jQ('.back_maybe').fadeIn("slow");
	jQ('.tech_maybe').is(":visible") ? jQ('.tech_maybe').fadeOut("slow") : jQ('.tech_maybe').fadeIn("slow");
});

jQ('#toggle_no').click(function () {
	if ( jQ('.back_no').is(":visible") ) {
		jQ(this).html('Show unsuitable');
		jQ('.back_no').fadeOut("slow");
		jQ('.tech_no').fadeOut("slow");
	}
	else {
		jQ(this).html( 'Hide unsuitable' )
		jQ('.back_no').fadeIn("slow");
		jQ('.tech_no').fadeIn("slow");
	}

	jQ.post('{% url toggle_button 'toggle_no' %}');
});

jQ('#toggle_na').click(function () {
	jQ(this).html( (jQ('.back_na').is(":visible") ? 'Show' : 'Hide') + ' not applicable');
	jQ('.back_na').is(":visible") ? jQ('.back_na').fadeOut("slow") : jQ('.back_na').fadeIn("slow");	
	jQ('.tech_na').is(":visible") ? jQ('.tech_na').fadeOut("slow") : jQ('.tech_na').fadeIn("slow");
});

jQ('#toggle_hide').click(function () {
	jQ(this).html( (jQ('.back_hide').is(":visible") ? 'Show' : 'Hide') + ' not usable');
	jQ('.back_hide').is(":visible") ? jQ('.back_hide').fadeOut("slow") : jQ('.back_hide').fadeIn("slow");	
	jQ('.tech_hide').is(":visible") ? jQ('.tech_hide').fadeOut("slow") : jQ('.tech_hide').fadeIn("slow");
});



jQ('#toggle_page_intro').click(function() {
	if ( jQ('#page_intro_text').is(":visible") ) {
		jQ('#page_intro_text').slideUp("slow");
		jQ('#toggle_page_intro').html('Show help');
	}
	else {
		jQ('#page_intro_text').slideDown("slow");
		jQ('#toggle_page_intro').html('Hide help');
	}

});


jQ("a.fancy").fancybox();
{% endblock jquery_ready %}	
