@import url("reset.css");
@import url("grid.css");
@import url("typography.css");
@import url("base.css");
@import url("menu.css");
@import url("utility.css");
@import url("buttons.css");
@import url("tech.css");


h1 {
    color:#1DAAFB;
    color:#72CDFF;
    text-shadow: #ddd 1px 1px 0px;
}

.sliding_box_header {
    background: #e1e1e5 url(../../../base/img/sliding_box_header_background.png) repeat-x;
    border-bottom: 1px solid #ccc;
    padding:5px; 
}

.sliding_box_header a {
    margin-left:15px; 
    text-shadow: #fff 1px 1px 0px;
}

#proj_list_table {
    background: #fff url(../../../base/img/grey_dot.png) repeat-y right;
}

#proj_list_table_header {
    background: #fff url(../../../base/img/grey_dot.png) repeat;
}
/*
#footer {
    margin-top:20px; 
    padding-top:0px;
    }

#middle{
    background-color:#fff;
    }

#side{
    background-color:#fff;
    }
    
*/

#fancybox-inner h2 {
    margin: 10px 0 15px 10px;
}